@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-display: swap;
  src: url(./../fonts/Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url(./../fonts/Montserrat-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url(./../fonts/Montserrat-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  src: url(./../fonts/Montserrat-Black.otf) format("opentype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-display: swap;
  src: url(./../fonts/Montserrat-ExtraBold.otf) format("opentype");
}

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #151515;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1;
}

img {
  max-width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.editors ul,
.editors ol {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  padding-bottom: 15px;
}

.editors ul li {
  list-style-type: disc;
}

.editors ol li {
  list-style-type: decimal;
}

.editors strong {
  font-weight: 600;
}

.editors em {
  font-style: italic;
}

.modal {
  position: fixed;
  z-index: -50;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 450px;
  max-height: 90vh;
  overflow-y: scroll;
  background: #FFFFFF;
  padding: 45px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 0.5px solid var(--col-1);
}

.modal_bloor {
  position: fixed;
  z-index: -51;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.modal_bloor:hover {
  cursor: pointer;
}

.modal .title {
  color: var(--orange);
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.34px;
  margin-bottom: 20px;
  text-align: center;
}

.modal_desc {
  color: var(--black);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
  max-width: 340px;
  margin: 14px auto 0;
}

.modal .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  /* Hover/active */
  /* Disabled */
}

.modal .form input[type=tel],
.modal .form input[type=iin],
.modal .form input[type=number],
.modal .form input[type=text],
.modal .form input[type=email],
.modal .form input[type=file] {
  width: 100%;
  padding: 18px 24.5px 16px 24.5px;
  margin-bottom: 10px;
  color: #757575;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #CBCBCB;
  background: #F9F9F9;
}

.modal .form input[type=tel]:focus,
.modal .form input[type=iin]:focus,
.modal .form input[type=number]:focus,
.modal .form input[type=text]:focus,
.modal .form input[type=email]:focus,
.modal .form input[type=file]:focus {
  border: 1px solid var(--orange);
}

.modal .form input[type=tel]::-webkit-input-placeholder, .modal .form input[type=iin]::-webkit-input-placeholder, .modal .form input[type=number]::-webkit-input-placeholder, .modal .form input[type=text]::-webkit-input-placeholder, .modal .form input[type=email]::-webkit-input-placeholder, .modal .form input[type=file]::-webkit-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .form input[type=tel]::-moz-placeholder, .modal .form input[type=iin]::-moz-placeholder, .modal .form input[type=number]::-moz-placeholder, .modal .form input[type=text]::-moz-placeholder, .modal .form input[type=email]::-moz-placeholder, .modal .form input[type=file]::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .form input[type=tel]:-ms-input-placeholder, .modal .form input[type=iin]:-ms-input-placeholder, .modal .form input[type=number]:-ms-input-placeholder, .modal .form input[type=text]:-ms-input-placeholder, .modal .form input[type=email]:-ms-input-placeholder, .modal .form input[type=file]:-ms-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .form input[type=tel]::-ms-input-placeholder, .modal .form input[type=iin]::-ms-input-placeholder, .modal .form input[type=number]::-ms-input-placeholder, .modal .form input[type=text]::-ms-input-placeholder, .modal .form input[type=email]::-ms-input-placeholder, .modal .form input[type=file]::-ms-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .form input[type=tel]::placeholder,
.modal .form input[type=iin]::placeholder,
.modal .form input[type=number]::placeholder,
.modal .form input[type=text]::placeholder,
.modal .form input[type=email]::placeholder,
.modal .form input[type=file]::placeholder {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal .form .input-file {
  position: relative;
  display: inline-block;
}

.modal .form .input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: #757575;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  background-color: #F9F9F9;
  border: 0.5px solid #B6B6B6;
  line-height: 22px;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.modal .form .input-file-text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
}

.modal .form .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
  outline: none;
}

.modal .form .input-file:hover .input-file-btn {
  background: #757575;
  color: #F9F9F9;
}

.modal .form .input-file:active .input-file-btn {
  opacity: 0.8;
}

.modal .form .input-file input[type=file]:disabled + .input-file-btn {
  background-color: #eee;
}

.modal .form input[type=checkbox] {
  width: 17px;
  height: 17px;
  accent-color: #d37a27;
}

.modal .form input[type=checkbox]:hover {
  cursor: pointer;
}

.modal .form button {
  color: var(--w);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 61px;
  margin-top: 30px;
  border-radius: 34px;
  background: -webkit-gradient(linear, left top, right top, from(#2D6A4A), to(#228350));
  background: linear-gradient(90deg, #2D6A4A 0%, #228350 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal .form button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#249157), to(#0C7E43));
  background: linear-gradient(90deg, #249157 0%, #0C7E43 100%);
}

.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 23px;
  height: 23px;
}

.modal_close:hover {
  rotate: 180deg;
  cursor: pointer;
}

.modal_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.modal_row .desc {
  width: 389px;
  margin-left: 10px;
}

.modal_row .desc b {
  color: var(--col-1);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@-webkit-keyframes load {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes load {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #515151;
  font-size: 14px;
  font-family: PT Root UI;
  font-weight: 500;
  letter-spacing: 0.28px;
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
}

.select-styled {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 15px 16px 16px 16px;
  color: #515151;
  font-size: 14px;
  font-family: PT Root UI;
  font-weight: 500;
  letter-spacing: 0.28px;
  border-radius: 8px;
  width: 100%;
}

.select-styled:after {
  position: absolute;
  top: calc(50% - 7px);
  right: 27px;
}

.select-styled:active:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: calc(50% - 12px);
}

.route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 30px;
}

.route__container {
  background: #F3F2F2;
  min-height: 40px;
  padding-top: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.route .container {
  height: 100%;
}

.route__older {
  color: #757575;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
  opacity: 0.8;
}

.route__older:hover {
  cursor: pointer;
  opacity: 1;
}

.route__slesh {
  width: 14px;
  height: 14px;
  padding: 0 4px;
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route__slesh img {
  width: 14px;
  margin-bottom: 2px;
  opacity: 0.8;
}

.route__corent {
  color: #757575;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

:root {
  --col-1: #009846;
  --w: #FFFFFF;
  --col-2: #952825;
  --col-3: #333F48;
  --col-5: #A9A9A9;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 301;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
}

.btn_green {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: var(--col-1);
}

.btn_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 203px;
  height: 43px;
  padding: 17px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: var(--col-2, #952825);
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: var(--w);
  top: 0;
  border-bottom: 0.5px solid #DFDFDF;
}

.header_logo {
  width: 165px;
  height: 27px;
}

.header_top .container {
  padding-top: 15px;
  padding-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top .btn_green {
  width: 167px;
}

.header_top .btn_red {
  margin-right: 20px;
  display: none;
}

.header_bottom {
  margin-top: 6px;
  padding-bottom: 4px;
}

.header_bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bottom .links {
  display: none;
}

.header_bottom .links .link {
  color: #333F48;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menuBtn {
  display: block;
}

.header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_icons .lang_link {
  color: var(--col-2);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  text-transform: capitalize;
}

.header_icons .whatsapp,
.header_icons .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background: rgba(0, 152, 70, 0.1);
  border-radius: 50%;
}

.header_icons .whatsapp img,
.header_icons .call img {
  width: 19px;
  height: 19px;
}

.header_icons .whatsapp {
  margin-right: 10px;
  margin-left: 15px;
}

.header_icons .whatsapp img {
  width: 17.5px;
  height: 17.5px;
}

.mobileMenu {
  position: fixed;
  z-index: 51;
  width: 75%;
  height: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 24px;
  background: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: -100%;
}

.mobileMenu.active {
  right: 0;
}

.mobileMenu__bloor {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 0;
  right: -100%;
}

.mobileMenu__bloor.active {
  right: 0;
}

.mobileMenu_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobileMenu_row .mobileMenu_logo img {
  width: 161.156px;
  height: 27px;
}

.mobileMenu_row .mobileMenu_close {
  width: 29px;
  height: 29px;
}

.mobileMenu .btn_green {
  padding: 17px 0;
  margin-top: 32px;
}

.mobileMenu .btn_red {
  padding: 17px 0;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: var(--col-2, #952825);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

.mobileMenu .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 25px;
  margin-top: 30px;
}

.mobileMenu .links .link {
  color: #333F48;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.mainTitle {
  color: #333F48;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.mainTitle.center {
  text-align: center;
}

.input {
  position: relative;
  z-index: 3;
}

.input label {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
}

.input input {
  color: var(--col-3);
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  border-radius: 5px;
  border: 0.5px solid #B2B2B2;
  background: #F5F5F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  height: 51px;
  padding: 8px 26px 8px 21px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.range {
  margin-top: 20px;
  position: relative;
  z-index: 3;
}

.range input[type=range] {
  color: var(--col-1);
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: #C8C8C8;
  --brightness-hover: 120%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
  z-index: 2;
}

.range input[type=range]::after {
  content: "";
  background: #C8C8C8;
  height: 12px;
  width: 1px;
  position: absolute;
  left: 50%;
  top: calc(50% - 7px);
  z-index: -1;
}

.range input[type=range]:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.range input[type=range]:active::-webkit-slider-thumb {
  -webkit-filter: brightness(var(--brightness-down));
  filter: brightness(var(--brightness-down));
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.range input[type=range]:active::-moz-range-thumb {
  cursor: grabbing;
  filter: brightness(var(--brightness-down));
}

.range input[type=range]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

.range input[type=range]:disabled {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

.range input[type=range]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

.range input[type=range]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

.range input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--track-color))) scroll no-repeat center/100% calc(var(--track-height) + 1px);
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center/100% calc(var(--track-height) + 1px);
}

.range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
  position: relative;
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: #EAF5FF;
  border: 5px solid var(--col-1);
  -webkit-box-shadow: var(--box-fill);
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-clip-path: polygon(100% -1px, var(--clip-edges) -1px, 0 var(--clip-top), -100vmax var(--clip-top), -100vmax var(--clip-bottom), 0 var(--clip-bottom), var(--clip-edges) 100%, var(--clip-further) var(--clip-further));
  clip-path: polygon(100% -1px, var(--clip-edges) -1px, 0 var(--clip-top), -100vmax var(--clip-top), -100vmax var(--clip-bottom), 0 var(--clip-bottom), var(--clip-edges) 100%, var(--clip-further) var(--clip-further));
}

.range input[type=range]:hover::-webkit-slider-thumb {
  -webkit-filter: brightness(var(--brightness-hover));
  filter: brightness(var(--brightness-hover));
  cursor: -webkit-grab;
  cursor: grab;
}

.range input[type=range]:hover::-moz-range-thumb {
  filter: brightness(var(--brightness-hover));
}

.range input[type=range]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

.range input[type=range]::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  -moz-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
  background: rgba(255, 255, 255, 0);
  width: 100%;
  background: var(--track-color);
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

.range input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  -moz-transition: all ease 100ms;
  transition: all ease 100ms;
  height: var(--thumb-height);
  background: rgba(255, 255, 255, 0);
  background: #EAF5FF;
  border: 5px solid #1766AD;
  width: calc(var(--thumb-width, var(--thumb-height)) - 10px);
  height: calc(var(--thumb-width, var(--thumb-height)) - 10px);
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
  filter: brightness(100%);
}

.range input[type=range]::-moz-range-progress {
  background: rgba(255, 255, 255, 0);
  -moz-appearance: none;
       appearance: none;
  background: currentColor;
  transition-delay: 30ms;
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
  filter: brightness(100%);
}

.range input[type=range].monthInputRange::after {
  content: none;
}

.range_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range_row .min {
  color: #616161;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.range_row .center {
  color: #B8B8B8;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.range_row .max {
  color: #616161;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  position: relative;
  z-index: 3;
}

.question .text {
  color: #616161;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  margin-left: 5px;
  margin-right: 9px;
}

.question .absolute {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 3;
  color: #FFF;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  padding: 12px 24px;
  background: #333F48;
}

.question .absolute::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #333F48;
  bottom: -8px;
  left: 223px;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  z-index: 2;
}

.mainPage {
  background: #F9F9F9;
}

.mainPage .block1 {
  padding-top: 20px;
  padding-bottom: 255px;
  margin-top: 122px;
  background: linear-gradient(82deg, #26644D 0%, #018338 100%);
  position: relative;
}

.mainPage .block1 .container {
  position: relative;
  z-index: 4;
}

.mainPage .block1 .title {
  color: var(--w);
  width: 98%;
}

.mainPage .block1_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.mainPage .block1_row .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainPage .block1_row .item_desc {
  color: var(--w);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.mainPage .block1_row .item_title {
  color: var(--w);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainPage .block1_row .item_title span {
  color: var(--w);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.mainPage .block1_text {
  margin-top: 15px;
}

.mainPage .block1_text p {
  color: var(--w);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
}

.mainPage .block1 .btn_green {
  width: 167px;
}

.mainPage .block1 .btn_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 167px;
  height: 45px;
  padding: 17px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: var(--col-2);
  -webkit-box-shadow: 0 11px 33px 0 rgba(0, 152, 70, 0.15);
          box-shadow: 0 11px 33px 0 rgba(0, 152, 70, 0.15);
}

.mainPage .block1 .btn_red div {
  width: 97px;
  color: var(--w);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainPage .block1 .btn_red img {
  width: 21px;
  height: 21px;
}

.mainPage .block1 .bg {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 41px;
  width: 325px;
  height: 260px;
}

.mainPage .block1 .bg2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 103px;
  display: none;
}

.mainPage .block1 .bg3 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.mainPage .block1 .bg4 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  display: none;
}

.mainPage .block1 .bg5 {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  right: 0;
}

.mainPage .block1 .bg5 img {
  width: 175.222px;
  height: 252.714px;
}

.mainPage .block2 {
  margin-top: 50px;
  position: relative;
}

.mainPage .block2 .bg1 {
  position: absolute;
  top: -120px;
  left: 0;
  z-index: 1;
}

.mainPage .block2 .bg2 {
  position: absolute;
  top: -130px;
  right: 0;
  z-index: 2;
}

.mainPage .block2 .items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  margin-top: 40px;
  z-index: 3;
}

.mainPage .block2 .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 15px;
  background: var(--w);
  border-radius: 5px;
}

.mainPage .block2 .items .item_img {
  max-height: 44px;
}

.mainPage .block2 .items .item_right {
  margin-left: 15px;
}

.mainPage .block2 .items .item_title {
  color: var(--col-1);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  margin-bottom: 6px;
}

.mainPage .block2 .items .item_desc {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.4%;
}

.mainPage .block3 {
  margin-top: 80px;
  position: relative;
  z-index: 3;
}

.mainPage .block3 .input {
  margin-top: 30px;
}

.mainPage .block3 .input input {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainPage .block3 .box {
  margin-top: 30px;
  padding: 34px 20px 40px 20px;
  background: rgba(0, 152, 70, 0.1);
  -webkit-backdrop-filter: blur(93px);
          backdrop-filter: blur(93px);
}

.mainPage .block3 .box_img {
  width: 256px;
  height: 100%;
  display: none;
}

.mainPage .block3 .box .row {
  margin-top: 20px;
}

.mainPage .block3 .box .row:first-child {
  margin-top: 0;
}

.mainPage .block3 .box .row_title {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.mainPage .block3 .box .row_desc {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  margin-top: 3px;
}

.mainPage .block3 .box .row .select {
  border: none;
}

.mainPage .block3 .box .row .select_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPage .block3 .box .row .select_row {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPage .block3 .box .row .select_row label {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
}

.mainPage .block3 .box .row .select_row [type=radio]:checked,
.mainPage .block3 .box .row .select_row [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.mainPage .block3 .box .row .select_row [type=radio]:checked + label,
.mainPage .block3 .box .row .select_row [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.mainPage .block3 .box .row .select_row [type=radio]:checked + label:before,
.mainPage .block3 .box .row .select_row [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333F48;
  border-radius: 100%;
  background: transparent;
}

.mainPage .block3 .box .row .select_row [type=radio]:checked + label:after,
.mainPage .block3 .box .row .select_row [type=radio]:not(:checked) + label:after {
  content: "";
  width: 17px;
  height: 17px;
  background: linear-gradient(65deg, #26644D 0%, #01D45A 80.35%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mainPage .block3 .box .row .select_row [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.mainPage .block3 .box .row .select_row [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mainPage .block3 .box .row .links_row {
  color: var(--col-2);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  text-decoration-line: underline;
  white-space: nowrap;
}

.mainPage .block5 {
  margin-top: 62px;
  position: relative;
}

.mainPage .block5 .bg {
  position: absolute;
  top: -605px;
  right: -241px;
  z-index: 2;
  width: 765px;
  height: 765px;
  border-radius: 100%;
  opacity: 0.15;
  background: radial-gradient(50% 50% at 50% 50%, #E11F1F 0%, rgba(217, 217, 217, 0) 100%);
  -webkit-filter: blur(93px);
          filter: blur(93px);
}

.mainPage .block5 .bg2 {
  position: absolute;
  top: -253px;
  right: -61px;
  z-index: 2;
}

.mainPage .block5 .bg2 img {
  width: 368px;
  height: 368px;
}

.mainPage .block5 .mainTitle {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  position: relative;
  z-index: 3;
}

.mainPage .block5 .items {
  position: relative;
  margin-top: 17px;
}

.mainPage .block5 .items_line {
  position: absolute;
  left: 8px;
  top: 25px;
  width: 3px;
  height: calc(100% - 50px);
  background: #C6C6C6;
}

.mainPage .block5 .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.mainPage .block5 .items .item:last-child {
  margin-bottom: 0;
}

.mainPage .block5 .items .item_dots {
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: linear-gradient(65deg, #26644D 0%, #01D45A 80.35%);
  border-radius: 50%;
}

.mainPage .block5 .items .item_num {
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  background: linear-gradient(65deg, #26644D 0%, #01D45A 80.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 12px;
}

.mainPage .block5 .items .item_desc {
  color: var(--col-1);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  margin-left: 9px;
  max-width: 237px;
}

.mainPage .block5 .btn_green {
  padding: 17px 40px;
  -webkit-box-shadow: 0 11px 33px 0 rgba(0, 152, 70, 0.15);
          box-shadow: 0 11px 33px 0 rgba(0, 152, 70, 0.15);
  border: 1px solid rgba(72, 31, 81, 0.08);
  margin-top: 30px;
}

.mainPage .block6 {
  margin-top: 110px;
}

.mainPage .block6 .container {
  border-radius: 15px;
  background: #F5F5F6;
  padding: 24px 19px 400px 19px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
}

.mainPage .block6 .container .bg {
  position: absolute;
  left: -112px;
  top: -108px;
  width: 687px;
  height: 469px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 687px;
  opacity: 0.1;
  background: var(--col-1);
  -webkit-filter: blur(93px);
          filter: blur(93px);
}

.mainPage .block6 .container .bg2 {
  position: absolute;
  bottom: -93px;
  left: -51px;
  width: 448px;
  height: 448px;
  z-index: 1;
}

.mainPage .block6 .container .bg3 {
  position: absolute;
  bottom: 0;
  right: 26px;
  width: 255px;
  height: 382px;
  z-index: 2;
}

.mainPage .block6 .container .mainTitle {
  z-index: 3;
  position: relative;
}

.mainPage .block6 .container .items {
  margin-top: 10px;
}

.mainPage .block6 .container .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: relative;
  margin-top: 20px;
}

.mainPage .block6 .container .items .item_img {
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: linear-gradient(65deg, #26644D 0%, #01D45A 80.35%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .block6 .container .items .item_img img {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mainPage .block6 .container .items .item_desc {
  color: var(--col-3);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130.4%;
  width: calc(100% - 57px);
  margin-left: 20px;
}

.mainPage .block7 {
  margin-top: 80px;
}

.mainPage .block7 .mainTitle {
  width: 80%;
  margin: 0 auto;
}

.mainPage .block7 .items {
  margin-top: 30px;
  padding: 7px 21px;
  border-radius: 10px;
  background: #F5F5F6;
}

.mainPage .block7 .items .item {
  padding: 15px 0;
  border-bottom: 0.5px solid #C0C0C0;
}

.mainPage .block7 .items .item:last-child {
  border-bottom: none;
}

.mainPage .block7 .items .item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainPage .block7 .items .item_head:hover {
  cursor: pointer;
}

.mainPage .block7 .items .item_head .left {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.4%;
  max-width: 80%;
}

.mainPage .block7 .items .item_head .right {
  color: var(--col-3);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.24px;
}

.mainPage .block7 .items .item_body {
  margin-top: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.mainPage .block7 .items .item_body p {
  color: var(--col-3);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.4%;
}

.mainPage .block7 .items .item.active .item_body {
  margin-top: 18px;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 10000;
  background: #F9F9F9;
  overflow-y: auto;
  display: none;
}

.table_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-bottom: 4px solid #C3C3C3;
  position: sticky;
  top: 0;
  left: 0;
  background: #F9F9F9;
}

.table_head .text {
  color: var(--col-2, #952825);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.table_head img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 20px;
}

.table_desc {
  margin-top: 11px;
  width: 95%;
}

.table_desc p {
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 139%;
}

.table_desc strong,
.table_desc b {
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 139%;
}

.table_desc2 {
  margin-top: 10px;
}

.table_desc2 h3 {
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.table_desc2 ol {
  margin-top: 10px;
}

.table_desc2 ol li {
  display: list-item;
  list-style: decimal inside;
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.table .cell {
  overflow-x: scroll;
  width: 100%;
  margin-top: 14px;
}

.table .cell table {
  width: 809px;
}

.table .cell table th,
.table .cell table td {
  border-bottom: 0.5px solid #C0C0C0;
}

.table .cell table tbody tr:last-child td {
  border-bottom: unset;
}

.table .cell table tr th {
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  padding-bottom: 10px;
  padding-right: 25px;
}

.table .cell table tr th:first-child {
  padding-right: 5px;
}

.table .cell table tr th:last-child {
  padding-right: 0;
}

.table .cell table tr td {
  white-space: nowrap;
  text-align: center;
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 16px 25px 16px 0;
}

.table .cell table tr td:first-child {
  padding-right: 5px;
}

.table .cell table tr td:last-child {
  padding-right: 0;
}

.table_footer {
  border-radius: 0 0 3px 3px;
  background: #D9D9D9;
  padding: 13px 0 24px 0;
  margin-top: 15px;
}

.table_footer p {
  color: var(--col-3, #333F48);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.footer {
  padding-top: 50px;
  background: #f9f9f9;
}

.footer .container {
  border-top: 0.5px solid #C0C0C0;
  padding: 30px 0 15px 0;
  margin: 0 15px;
}

.footer_logo a img {
  height: 34px;
}

.footer_desc {
  margin-top: 20px;
}

.footer_desc p {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 3px;
}

.footer_link {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration-line: underline;
  margin-top: 10px;
}

.footer .items {
  margin-top: 30px;
}

.footer .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .items .item:first-child .item_right {
  width: 60%;
}

.footer .items .item:last-child {
  margin-top: 20px;
}

.footer .items .item_left {
  width: 36px;
  height: 36px;
  background: rgba(0, 152, 70, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .items .item_left img {
  max-height: 22px;
}

.footer .items .item_right {
  width: calc(100% - 46px);
  margin-left: 10px;
}

.footer .items .item_right .title {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
}

.footer .items .item_right .desc {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 10px;
}

.footer .items .item_right .title2 {
  color: var(--col-3);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  text-transform: capitalize;
  position: relative;
  top: 8px;
}

.footer .btn_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}

.footer .btn_green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
  color: var(--col-1);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: #E5F5EC;
}

.footer .btn_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
  color: var(--col-2);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid rgba(72, 31, 81, 0.08);
  background: #F1E3E2;
}

.footer_bottom {
  color: var(--col-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 30px;
}

@media (min-width: 577px) {
  .header_menuBtn {
    display: none;
  }
}

@media (min-width: 1200px) {
  .btn:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .btn_green:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .btn_red:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .header_logo {
    width: 212px;
    height: 34px;
  }

  .header_top .btn_green {
    width: auto;
    height: 43px;
  }

  .header_top .btn_red {
    width: auto;
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header_bottom .links .link:hover {
    cursor: pointer;
    color: var(--col-1);
  }

  .mainTitle {
    font-size: 40px;
  }

  .mainPage .block1 {
    padding-bottom: 68px;
  }

  .mainPage .block1 .title {
    width: 670px;
    font-size: 40px;
    margin-top: 52px;
  }

  .mainPage .block1_row:nth-child(2) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-gap: 20px;
  }

  .mainPage .block1_row:nth-child(3) {
    width: 450px;
  }

  .mainPage .block1_row:nth-child(4) {
    width: 550px;
  }

  .mainPage .block1 .btn_green {
    width: auto;
    height: 54px;
    margin-top: 30px;
    padding: 17px 40px;
  }

  .mainPage .block1 .btn_red {
    width: auto;
    height: 54px;
    margin-top: 30px;
    margin-left: 26px;
  }

  .mainPage .block1 .btn_red div {
    width: auto;
  }

  .mainPage .block1 .btn_red img {
    margin-left: 5px;
  }

  .mainPage .block1 .bg {
    display: none;
  }

  .mainPage .block1 .bg2 {
    display: block;
  }

  .mainPage .block1 .bg3 {
    display: none;
  }

  .mainPage .block1 .bg4 {
    display: block;
  }

  .mainPage .block1 .bg5 {
    right: 90px;
  }

  .mainPage .block1 .bg5 img {
    width: 303px;
    height: 437px;
  }

  .mainPage .block2 {
    margin-top: 90px;
  }

  .mainPage .block2 .items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 30px;
  }

  .mainPage .block2 .items .item {
    padding: 36px 16px;
  }

  .mainPage .block2 .items .item_img {
    width: 56px;
    height: 56px;
  }

  .mainPage .block3 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .mainPage .block3 .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .mainPage .block3 .input label {
    color: var(--col-3);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.5%;
  }

  .mainPage .block3 .input input {
    width: 213px;
    height: 51px;
  }

  .mainPage .block3 .leftSide {
    width: 48.3%;
  }

  .mainPage .block3 .box {
    width: 48.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }

  .mainPage .block3 .box_inner {
    margin-right: 28px;
    padding-top: 26px;
    padding-left: 23px;
  }

  .mainPage .block3 .box_img {
    display: block;
  }

  .mainPage .block3 .box .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mainPage .block3 .box .row .links_row {
    margin-left: 5px;
  }

  .mainPage .block5 .bg2 {
    display: none;
  }

  .mainPage .block5 .mainTitle {
    width: 526px;
    font-size: 40px;
  }

  .mainPage .block5 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .mainPage .block5 .items_line {
    height: calc(100% - 80px);
    top: 45px;
  }

  .mainPage .block5 .items .item_num {
    font-size: 64px;
  }

  .mainPage .block5 .items .item_desc {
    font-size: 20px;
    max-width: 300px;
  }

  .mainPage .block6 {
    margin-top: 90px;
  }

  .mainPage .block6 .container {
    margin: 0 auto;
    padding: 86px 62px 62px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 512px;
  }

  .mainPage .block6 .container .bg2 {
    left: 52px;
    bottom: -45px;
    width: 602px;
    height: 602px;
  }

  .mainPage .block6 .container .bg2 img {
    width: 602px;
    height: 602px;
  }

  .mainPage .block6 .container .bg3 {
    width: 342px;
    height: 512px;
    left: 207px;
    right: unset;
  }

  .mainPage .block6 .container .bg3 img {
    width: 342px;
    height: 512px;
  }

  .mainPage .block6 .container .mainTitle {
    font-size: 32px;
    width: 445px;
  }

  .mainPage .block6 .container .items .item_desc {
    max-width: 312px;
  }

  .footer .container {
    margin: 0 auto;
  }

  .footer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer .items {
    margin-top: 0;
  }

  .footer .items.ss {
    max-width: 210px;
  }

  .footer .items .item:last-child {
    margin-top: 0;
  }

  .footer .tel_fot {
    min-width: 260px;
    margin-right: 0;
  }

  .footer .btn_row {
    grid-template-columns: 1fr;
  }

  .footer .btn_green {
    width: 200px;
  }

  .footer .btn_red {
    width: 200px;
  }

  .footer_bottom {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .header_bottom .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 25px;
  }

  .mainPage {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 946px;
  }

  .modal .title {
    font-size: 30px;
  }

  .modal .form button {
    font-size: 16px;
    height: 56px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }

  .route {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 769px) {
  .modal .title {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .modal {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: unset;
  }

  .modal .title {
    font-size: 22px;
  }

  .modal .form input[type=tel],
  .modal .form input[type=iin],
  .modal .form input[type=number],
  .modal .form input[type=text],
  .modal .form input[type=email],
  .modal .form input[type=file] {
    padding: 10px 26px;
    font-size: 16px;
  }

  .modal .form button {
    font-size: 15px;
    height: 41px;
    margin-top: 20px;
  }

  .modal_row .desc {
    font-size: 14px;
  }

  .modal_row .desc b {
    font-size: 14px;
  }

  .route__older {
    font-size: 13px;
  }

  .route__corent {
    font-size: 13px;
  }
}